[user]
	useConfigOnly = true
	email = hideukin@gmail.com
	name = hideukin
[alias]
	co = checkout
	cob = checkout -b
	st = status -bs # branch short
	br = branch
	ci = commit
	df = diff -w
	gr = log --graph --decorate --oneline
	lg = log --pretty --oneline
	sw = switch
	swc = switch -c
	rs = restore
	br-md = !git branch --merged | egrep -v '\\*|develop|master|main' | xargs git branch -d
	sync = !git fetch -p && git pull | git branch --merged | egrep -v '\\*|develop|master|main' | xargs git branch -d
[core]
	editor = vim
	precomposeunicode = true
[color]
	ui = auto

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff]
	renames = true
[commit]
	verbose = true
[pr-release]
	token = 
[pull]
	rebase = false
